<div class="row">
  <%= render "shared/story" %>
  <div class="col s12 m12 l5 xl5">
    <div id="sidebar" class="card">
      <blockquote>
      <h3>"<%= @sentence.words.capitalize %>."</h3>
      <div class="chip">
        <img src="http://www.futureisclean.org/img/profile-no-photo.png" alt="Contact Person">
        <%= @sentence.user.username%>
      </div>
      </blockquote>
      <ul class="collection">
        <% @comments.each do |comment| %>
          <li class="collection-item avatar">
            <img src="http://www.futureisclean.org/img/profile-no-photo.png" alt="" class="circle">
            <p><span class="username"><%= comment.user.username %></span><br>
               <span class="comment"><%= comment.words %></span>
            </p>
          </li>
        <% end %>
      </ul>

      <%= form_for [@sentence, @new_comment] do |f| %>
        <%= f.label "New Comment:" %>
        <%= f.text_field :words %>
        <p><%= f.submit %></p>
      <% end %>
    </div>
  </div>
</div>
