<h1><%= @story.name %></h1>
<img src=<%= @story.imgLink %> >
<p>
<% @sentences.each do |sentence| %>
  <span><%= link_to sentence.words, story_sentence_path(@story, sentence) %>. </span>
<% end %>
</p>
<%= form_for [@story, @new_sentence] do |f| %>
  <%= f.label "New Sentence:" %>
  <%= f.text_field :words %>
  <%= f.label "User Key:" %>
  <%= f.text_field :user_id %>
  <p><%= f.submit %></p>
<% end %>

<p><%= link_to "Delete", story_path(@story),
                         :data => {:confirm => "You sure?",
                                   :method => "delete"} %></p>
<p><%= link_to "Return to stories", stories_path %></p>
