<h1>New Story</h1>

<img class="storyImage" src=<%=@random_img%>>

<%= form_for @story do |f| %>
  <%= f.label :name %>
  <%= f.text_field :name %>

  <%= f.hidden_field :imgLink, :value => @random_img%>
  <%= f.submit  %>
<% end %>
